.score {
    display: grid;
    grid-template: 1fr / 1fr 4em 1fr;
    gap: .4em;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .score {
        grid-template: 1fr / 1fr 2em 1fr;
        gap: .2em;
    }
}

.teamScore {
    display: flex;
}

.goals {
    margin: auto .5em;
    background-color: #00afdb5b;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    padding: .1em .5em;
}

.inPlayDetails {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: green;
}