.listItem {
    display:grid;
    grid-template-columns: 1fr 20% 25%;
    align-items:center;
}

.match {
    margin: 0;
    color: #04647c;
    text-decoration:underline;
    font-weight: bold;
    padding: 1em;
}