.list {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.match {
    margin: 0;
    color: #04647c;
    text-decoration:underline;
    font-weight: bold;
    padding: 1em;
}